.tiptap {
	/* Heading styles */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		margin-top: 2.5rem;
		text-wrap: pretty;
	}

	h1,
	h2 {
<<<<<<< HEAD
=======
		margin-top: 3.5rem;
>>>>>>> 2050b34 (add(editor) : add tiptap editors and extenstions; update custom css for tiptap components)
		margin-bottom: 1.5rem;
	}

	h1 {
<<<<<<< HEAD
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
=======
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
>>>>>>> 2050b34 (add(editor) : add tiptap editors and extenstions; update custom css for tiptap components)
	}

	h4,
	h5,
	h6 {
<<<<<<< HEAD
		font-size: 18px;
=======
		font-size: 1rem;
>>>>>>> 2050b34 (add(editor) : add tiptap editors and extenstions; update custom css for tiptap components)
	}
}
