.tiptap {
	/* List styles */
	ul,
	ol {
		padding: 0 1rem;
	}
	ul li {
		list-style-type: disc;
		p {
			margin-top: 0.25em;
			margin-bottom: 0.25em;
		}
	}
	ol li {
		list-style-type: decimal;
		p {
			margin-top: 0.25em;
			margin-bottom: 0.25em;
		}
	}
}
