@import "./tiptap/heading.css";
@import "./tiptap/list.css";
@import "./tiptap/task.css";
@import "./tiptap/table.css";
@import "./tiptap/image.css";
<<<<<<< HEAD
@import "./tiptap/link.css";

.tiptap {
	caret-color: hsl(var(--primary));
	mark {
		padding: 4px 4px;
		border-radius: 10px;
	}
=======

.tiptap {
	caret-color: hsl(var(--primary));
>>>>>>> 2050b34 (add(editor) : add tiptap editors and extenstions; update custom css for tiptap components)
}
